.header{
    background: #ECEEF2;
}
#formOne {
    height: 86.7vh;
    background: #ECEEF2;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .sectionForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 83vh;
        width: 40vw;
        border-radius: 20px;
        background: #FFFFFF;
        .divTitle{
            display: flex;
            height: 15%;
            width: 80%;
            align-items: center;
            justify-content: flex-start;
        }
        
        .buttonsTop {
            display: flex;
            width: 80%;
            align-items: center;
            justify-content: space-around;
        }

        .divBody {
            display: flex;
            width: 80%;
            height: 50%;
            flex-flow:column wrap;
            justify-content: space-evenly;

            .separationName{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }

            .emailPhoneBody {
                display: flex;
                justify-content: space-between;

                .emailBody {
                    width: 60%;
                }

                .phoneBody {
                    width: 35%;
                }
            }
            #errorFullname, #errorEmail {
                display: none;
            }

        }
    }
    
}