div{
    /* Inputs style */
    input{
        font-family: 'Nunito';
        font-style: normal;
        font-weight: 400;
        font-size: 1em;
    }
    input:focus {
        outline: 0;
      }
    .inputBorder{
        border: 2px solid #AAAAAA;
        border-radius: 4px;
    }
    /* Inputs sizes */
    .smallInput{
        height: 2.5em;
        width: 40%;  
        box-sizing: border-box;    
    }
    .mediumInput{
        height: 2.5em;
        width: 60%;
        box-sizing: border-box;
    }
    .bigInput{
        height: 1.8em;
        width: 100%;
        box-sizing: border-box;
    }
}

    /* Inputs media */