* {
    padding: 0;
    margin: 0;
}

.titleDefault {
    color: #111111;
    font-size: 1.125em;
}

.blueTitle{
    color: #074EE8;
    font-size: 2em;
}
.smallTitle {
    color: #111111;
    font-size: 0.5em;
}
