#divHeader{
    border-bottom: solid 2px #AAAAAA ;
    height: 13vh;
    .sectionTitle{
        display: flex;
        flex-direction: column;
        .smallTitle {
            margin: 1em 10em 0em;
        }
        .blueTitle {
            margin: 0em 2.4em 0em;
        }
    }
}