#divHeader{
    border-bottom: solid 2px #AAAAAA ;
    height: 13vh;
    .sectionTitle{
        display: flex;
        flex-direction: column;
        .smallTitle {
            margin: 1em 10em 0em;
        }
        .blueTitle {
            margin: 0em 2.4em 0em;
        }
    }
}

@media (max-width: 768px) {
    #divHeader{
    .sectionTitle{
        .smallTitle{
            margin: 1em 4.3em 0em;
        }
        .blueTitle{
            margin: 0em 1em 0em;
        }
    }
}
}