.day {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    border: 2px solid #AAAAAA;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
    color: #AAAAAA;
    transition: color 0s 2147483647s;
    outline: none;
    #optionDay {
        color: black;
    }
}
select:focus,
select:active,
select:focus{
    color: black;
    transition:0s;
}
