.age {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    height: 3.7vh;
    border: 2px solid #aaaaaa;
    border-radius: 4px;
    
    color: #aaaaaa;
   #ageId{
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    color: #000000;
    font-size: 1em;
    margin: 2px 0px 0px 5px;
   }
}
[contentEditable=false]:empty:not(:focus):before{
    color: #aaaaaa;
    content:attr(data-ph)
}
