/* Sizes */
.lowSize {
    font-size: 0.75em;
    line-height: 1.125;
}
.mediumLowSize {
    display: flex;
    font-size: 0.875em;
    line-height: 1.5;
    margin: 0;
    padding: 0; 
}
.regularSize {
    font-size: 1em;
    line-height: 1.5;
}
.highSize {
    font-size: 1.5em;
    line-height: 2.25;
}

/* Color */
.darkColor {
    color: #111111;
}

.grayColor {
    color: #767676;
}

/* Text alignment */
.center {
    text-align: center;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}

/* Error */
.error {
    color: #FF0000;
    margin-left: 0.625em;
}

@media (max-width: 768px) {
    .error{
        margin-left: 3.2px;
    }
}